/* commence primary ignition */

* {
    box-sizing: border-box;
  }

  header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  body { 
    font-family: Georgia, "Times New Roman", serif, Myriad Pro;
    background-position: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: black;
  }

/* end primary ignition */

/* start body */

h1 {
  color: #fff;
  font-family: 'Bungee', cursive;
  text-align: center;
  font-size: 3em;
}
div.gif {
  width: 100%;
}
iframe {
  display: block;
  margin: 0 auto;
}
h2 {
  color: #fff;
  font-family: 'Bungee', cursive;
  text-align: center;
  font-size: 3em;
}
.logo {
  width: 25%;
  height: 25%;
  display: block;
  margin: 0 auto;
}
h2.logo-title {
  color: #fff;
  font-family: 'Fugaz One', cursive;
  text-align: center;
  font-size: 3em;
}
footer {
  width: 100%;
  background-color: black;
}
h3 {
  color: #fff;
  font-family: 'Bungee', cursive;
  text-align: center;
}
h3.endline {
  color: #fff;
  text-align: center;
  font-family: 'Kanit', sans-serif;
}
a {
  text-decoration: none;
}

/* end body */