/* commence primary ignition */

* {
    box-sizing: border-box;
  }

  header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  body { 
    font-family: Georgia, "Times New Roman", serif, Myriad Pro;
    background-position: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: black;
  }

/* end primary ignition */

/* start body */

h1 {
  color: #fff;
  font-family: 'Bungee', cursive;
  text-align: center;
  font-size: 3em;
}
div.gif {
  width: 100%;
}
iframe {
  display: block;
  margin: 0 auto;
}
h2 {
  color: #fff;
  font-family: 'Bungee', cursive;
  text-align: center;
  font-size: 3em;
}
.logo {
  width: 25%;
  height: 25%;
  display: block;
  margin: 0 auto;
}
h2.logo-title {
  color: #fff;
  font-family: 'Fugaz One', cursive;
  text-align: center;
  font-size: 3em;
}
footer {
  width: 100%;
  background-color: black;
}
h3 {
  color: #fff;
  font-family: 'Bungee', cursive;
  text-align: center;
}
h3.endline {
  color: #fff;
  text-align: center;
  font-family: 'Kanit', sans-serif;
}
a {
  text-decoration: none;
}
button.btn {
  background-color: #000;
  border: #fff solid 3px;
  height: 8em;
  display: block;
  margin: 0 auto;
  margin-bottom: 5em;
  padding: 1em 0em;
  border-radius: 15px;
}
button.btn:hover {
  border: solid 3px #F7A81B;
}
button a.button {
  color: #fff;
  font-family: 'Bungee', cursive;
  font-size: 4em;
  padding: .5em 2em;
}
#break {
  width: 50%;
  display: block;
  margin: 0 auto;
  color: #fff;
}
p {
  color: #fff;
  width: 50%;
  display: block;
  margin: 0 auto;
  font-size: 2em;
}
img.rotary {
  width: 30%;
  height: 30%;
  display: block;
  margin: 0 auto;
  padding-bottom: 3em;
}

/* end body */